@import "tailwindcss";

:root{
    --color_yourhome:rgb(184, 179, 173);
}



@theme{
    --color-primary_color:rgb(0, 0, 0);
    --color-main_color:rgb(40,166,159);
    --color-hover_color:rgb(18, 69, 68);
    --font-font_Inter:"Inter", sans-serif;
    --font-secondary:"Oldenburg", serif;
    --font-main: "Open Sans", sans-serif;
    --font-lato: "Lato", sans-serif;
    --color-saftey_color:rgb(245,245,245);
    --color-service_color:rgb(243,243,243);
    --color-recommend_card:rgb(251,251,251);
    --color-yourhome:rgb(184, 179, 173);
    

}

.gallary-slider-container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.gallary-card {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.gallary-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.gallary-img:hover {
  transform: scale(1.05);
}